html,
body {
    width: 100%;
    height: 100%;
}

/* Login Form */
#twosided {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#left {
    background-color: rgba(29, 51, 252, 0.596);
}


#loginbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15%;
}

#cname{
    margin-top: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.jumbotron h2{
    text-align: center;
}

.jumbotron h1 {
    text-align: center;
    font-family: Impact;
}

#loginbox h2 {
    text-align: center;
    margin-top: 5%;
}

#logincred {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    width: 50%;
}

#logincred input{
    padding: 15px, 5px, 15px, 5px;
    font-size: 24px;
    height: auto;
}

#logincred label{
    font-size: 18px;
    height: auto;
}

#pwd {
    margin-top: 5%;
}

#btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 30px;
    width: 200px;
}


/* Admin View Section */
#adminview{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#welcome h1{
    font-size: 400%;
}

/* Admin Addition Section */

#heading{
    text-align: center;
}
#AdminAdd {
    width: 50%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

#AdminAdd .field {
    margin-top: 2%;
}

#AdminAdd #insertBtn {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

/* Link Addition Section */

#LinkAdd {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#LinkAdd:last-child{
    margin-bottom: 10%;
}

#LinkAdd .field {
    margin-top: 2%;
}

#LinkAdd #insertBtn {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#logoutBtn{
    display: flex;
    justify-content: flex-end;
    margin: 25px;
}

#logoutBtn button{
    border-radius: 50px;
    width: 150px;
    padding: 10px;
    font-size: 150%;
}
